<div class = "mainField">
 <div class = "centerPage">
<h1> Личный кабинет</h1>
  <ul>
  <li>
  Ваш ID в системе:  id:{{user._id}}</li>
  <li>
  E-mail адресс: {{user.email}}</li>
  <li>
  login: {{user.login}}</li>
  </ul>
</p>
</div>
</div>
